<nav class="navbarMaestria">
    <li><a routerLink="/" class="linkHome">
            <i class="fa-solid fa-house"></i>
        </a></li>

    <input type="checkbox" id="menu-toggle">
    <label for="menu-toggle" class="menu-icon">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
    </label>

    <ul class="nav-links">
        <li class="dropdown">
            <a href="#">¿Quiénes somos? <span class="dropdown-arrow"></span></a>
            <ul class="dropdown-content">
                <li><a routerLink="/presentacion">Presentación del Programa</a></li>
                <li><a routerLink="/objetivos">Objetivos Generales y Específicos</a></li>
                <li><a routerLink="/misionVision">Misión y Visión</a></li>
                <li><a routerLink="/estadoArte">Estado del Arte</a></li>
                <li><a routerLink="/infraestructura">Infraestructura Científica</a></li>
                <li><a routerLink="/nucleoBasico">Núcleo Académico Básico</a></li>
            </ul>
        </li>
        <li><a routerLink="/lgyac">LGyAC</a></li>
        <li class="dropdown">
            <a href="#">Plan de Estudios <span class="dropdown-arrow"></span></a>
            <ul class="dropdown-content">
                <li><a routerLink="/localizacion">Localización del Programa</a></li>
                <li><a routerLink="/sintesisPlan">Síntesis del Plan de Estudios</a></li>
                <li><a routerLink="/ingresoEgreso">Perfil de Ingreso y Egreso</a></li>
            </ul>
        </li>
        <li class="dropdown">
            <a href="#">Procesos Administrativos <span class="dropdown-arrow"></span></a>
            <ul class="dropdown-content">
                <li><a routerLink="/requisitosIngreso">Requisitos y antecedentes académicos de ingreso de los candidatos</a></li>
                <li><a routerLink="/requisitosPermanencia">Requisitos de la permanencia en el programa</a></li>
                <li><a routerLink="/requisitosAcademico">Requisitos para la obtención del grado académico</a></li>
            </ul>
        </li>
        <li><a routerLink="/productividad">Productividad</a></li>
        <li><a routerLink="/egresados">Egresados</a></li>
        <li><a routerLink="/cohorte">Cohorte Generacional</a></li>
        <li><a routerLink="/contacto">Contacto</a></li>
    </ul>
</nav>